*.blend
*.blend1
*.tga
ProyectoRogelioHernandez/Library/ArtifactDB
ProyectoRogelioHernandez/Library/il2cpp_android_arm64-v8a/il2cpp_cache/linkresult_17D62F8E91A93483A9A70B06796D3E35/libil2cpp.dbg.so
ProyectoRogelioHernandez/Library/il2cpp_android_arm64-v8a/il2cpp_cache/linkresult_17D62F8E91A93483A9A70B06796D3E35/libil2cpp.sym.so
ProyectoRogelioHernandez/Library/Il2cppBuildCache/Android/arm64-v8a/Native/arm64-v8a/libil2cpp.dbg.so
ProyectoRogelioHernandez/Library/Il2cppBuildCache/Android/arm64-v8a/Native/arm64-v8a/libil2cpp.sym.so
ProyectoRogelioHernandez/Library/PackageCache/com.ptc.vuforia.engine@25bf43b1d8/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia
ProyectoRogelioHernandez/Library/il2cpp_android_arm64-v8a/il2cpp_cache/linkresult_0AA063606358F7CF6C2602E85604AD4B/libil2cpp.dbg.so
ProyectoRogelioHernandez/Library/il2cpp_android_arm64-v8a/il2cpp_cache/linkresult_0AA063606358F7CF6C2602E85604AD4B/libil2cpp.sym.so
ProyectoRogelioHernandez/Library/PlayerDataCache/Android/Data/data.unity3d
ProyectoRogelioHernandez/Library/PlayerDataCache/Android/Data/data.unity3d
ProyectoRogelioHernandez/Library/PlayerDataCache/Android/Data/data.unity3d
ProyectoRogelioHernandez/test.apk
ProyectoRogelioHernandez/Library/PlayerDataCache/Android/Data/data.unity3d
ProyectoRogelioHernandez/Library/PlayerDataCache/Android/Data/data.unity3d
